

.apiContainer {
    display: flex;
    flex-direction: row;
    border-bottom: 1px black dashed;
    margin: 10px;
    width: fit-content;
}

button {
    height: 50px;
    min-width: 100px;
}

#projectSpec {
    height: 200px;
    width: 800px;
}

textBox {
    margin: 10px;
    border: 1px black solid;
    max-height: fit-content;
    max-width: fit-content;
    min-width: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;

}

img {
    width: 469px;
    height: auto;
}

input {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-self:center;
}

body {
    display: flex;
    flex-direction: column;
}



.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid gray; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    align-self: center;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hidden {
      visibility:hidden;
  }